version: '3.9'

services:
  web:
    container_name: rmancer-frontend
    build:
      context: .
      dockerfile: Dockerfile
    ports:
      - '3000:3000'
    env_file:
      - .env
    restart: always
